<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dttshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DTTShop"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ThongTinTaiKhoanActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.ThongTinUngDungActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LienHeActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.XemDonHangActivity" />
        <activity
            android:name=".activity.ThanhToanActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="demozpdk"
                    android:host="app"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DangKyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.GioHangActivity" />
        <activity android:name=".activity.ChiTietSanPhamActivity" />
        <activity android:name=".activity.LoaiSanPhamActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>